#colophon {
    background-color:$color__footer-background;
    padding-top:1em;
    padding-bottom:3em;
    text-align: center;
    letter-spacing: .8px;
    font-family: $font__reg;
    border-top: 3px solid $color__brand-1;

    a {
        text-decoration: none;
    }

    .site-info {
        font-size:.85em;

        span.bullet {
            display: none;
        }

        #ph-1, #ph-2 {
            display: block;
        }

        .company-name {
            color: $color__brand-2;
            font-family: $font__bold;
            font-size: 1.2em;
        }

        a.tel {
            font-size:1.2em;
        }

        @media screen and (min-width:750px) {

            span {
                padding: 0 5px;
                font-size: 1.2em;
            }

            span.bullet {
                display: inline-block;
            }

            #ph-1, #ph-2 {
                display: inline-block;
                font-size:1em;
            }

            .company-name {
                font-size: 1.5em;
            }
        }
    }
}

#colophon, #colophon a {
    color:$color__footer-color;
}


@media screen and (min-width:575px) {
    #colophon .site-info {
        font-size:.75em;
    }

    #colophon .site-info a.tel {
        font-size:1.3em;
    }
}

// @media screen and (min-width:975px) {
//     #colophon .site-info {
//         float:left;
//         /*width:40%;*/
//     }

//     .page-template-frontpage-c.has-carousel #colophon {
//         position:fixed;
//         bottom:0;
//         left:0;
//         right:0;
//     }
// }
