#masthead {
    border-bottom:none;
    padding-top:1em;
    padding-bottom:.5em;
    background-color: $color__masthead-background;

    .site-branding {
        float:left;

        a {
            display:block;
        }

        img {
            max-width:200px;
        }

        .site-branding-phone {
            display: none;
        }
    }

    #masthead-tel {
        display: none;
        float:right;
        font-size:1.2em;
        font-weight:500;
        margin:10px 0 0 0;
    }

    @media screen and (min-width:575px) {
        padding-top:1.3em;
        padding-bottom:1.3em;

        .site-branding img {
            max-width:200px;
        }
    }

    @media screen and (min-width:975px) {

        .site-branding {
            float:none;
            position:absolute;
            z-index:500;
            left:50%;
            width: 400px;
            margin-left:-200px;
            background-color: #fff;
            padding: 1.5em .5em .5em;


            img {
                max-width: 385px;
            }

            .site-branding-phone {
                display: block;

                a {
                    text-align: center;
                    text-decoration: none;
                    color: $color__brand-2;
                    font-family: $font__bold;
                    @include font-smooth;
                    position: relative;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        height: 5px;
                        border-top: 1px solid #7f7f7f;
                        top: 12px;
                        width: 117px;
                    }

                    &:before {
                        right: 65%;
                        margin-right: 15px;
                    }

                    &:after {
                        left: 65%;
                        margin-left: 15px;
                    }
                }
            }
        }

        #masthead-tel {
            margin:2px 1em;
        }
    }
}

@media screen and (min-width:975px) {
    .page-template-frontpage-b.has-carousel #masthead,
    .page-template-page-subnav #masthead,
    .page-template-page-single-column #masthead {
        padding-top:0;
        padding-bottom:0;
    }

    .page-template-frontpage-c.has-carousel #masthead {
        position:relative;
        z-index:500;
        background-color:#FFF;
    }
}
@media screen and (min-width:1200px) {
    .page-template-frontpage-b.has-carousel #masthead .site-branding,
    .page-template-page-subnav #masthead .site-branding,
    .page-template-page-single-column #masthead .site-branding {
        // margin-left:-125px;
    }
}
