.aux-navigation {
    display:none;
    float:right;
    margin-top: 4em;

    ul li {
        float:left;
        margin-left:1em;
    }

    ul li:first-child {
        margin-left:0;
    }

    ul li a {
        font-size:1.2em;
        font-family: $font__semi;
        text-decoration:none;

        &:hover {
            color: $color__brand-2;
        }
    }
}

@media screen and (min-width:975px) {
    .aux-navigation {
        // display:block;
    }
}
