.featured-image-header {
  width: 100%;
  min-height:150px;
  position:relative;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;

  &:before {
      content: '';
      background-color: #000000;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .35;
      z-index: 5;
  }
}

.featured-image-headline {
  font-family: $font__bold;
  position:absolute;
  z-index:10;
  font-size:2em;
  line-height:1.1;
  color:#FFF;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 1);
  top:2em;
  left:1em;
  right:1em;
  font-weight:700;
  text-align:center;
}

@media screen and (min-width:575px) {
  .featured-image-header {
      min-height:250px;
  }

  .featured-image-headline {
      font-size:3em;
      top:2em;
  }
}

@media screen and (min-width:725px) {
  .featured-image-header {
    min-height:300px;
  }

  .featured-image-headline {
    // font-size:2.8em;
  }
}

@media screen and (min-width:975px) {
  .featured-image-header {
    min-height:360px;
  }
  .featured-image-headline {
      font-size:3.5em;
      top:3.5em;
  }
}

@media screen and (min-width:1200px) {
  .featured-image-headline {
    font-size:4em;
    top: 3em;
    left:2em;
    right:2em;
  }
}

@media screen and (min-width:1500px) {
  .featured-image-header {
    // min-height:400px;
  }
  .featured-image-headline {
      // font-size:3.5em;
  }
}

@media screen and (min-width:1900px) {
  .featured-image-header {
    // min-height:500px;
  }
  .featured-image-headline {
      // font-size:3.5em;
  }
}

@media screen and (min-width:2100px) {
  .featured-image-header {
    // min-height:600px;
  }
  .featured-image-headline {
      // font-size:3.5em;
  }
}