nav ul, ul.social-media, #mobile-menu ul {
	list-style:none;
	padding:0;
	margin:0;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

.menu-toggle {
    float:right;
    clear:right;
    display:block;
    font-family: $font__bold;
    @include reset;
    overflow:hidden;
    background-color:transparent;
    padding: .25em;
    color: $color__brand-2;
    font-size: 1.4rem;
}

.menu-toggle,
.menu-toggle:hover,
.menu-toggle:active {
    box-shadow:none;
    border:none;
    background: transparent;
}

.menu-toggle:hover {
    border: 1px solid $color__brand-2;
    color: $color__brand-3;
    transition: border 2s ease-in-out;
    transition: color 1s ease-in-out;
}


// @media screen and (min-width:575px) {
//     .menu-toggle {
//         width:40px;
//         height:40px;
//         background-position:0 -535px;
//     }

//     .menu-toggle:hover {
//         background-position:0 -573px;
//     }
// }

@media screen and (min-width:975px) {
    .menu-toggle {
        display:none;
    }
}